* {
    margin: 0;
    padding: 0;
}

.boby {
    position: relative;
}

.header {
    position: relative;
    height: 150px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.toolBar {
    position: relative;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolBar ul {
    list-style: none;
    display: flex;
}

.toolBar ul li {
    margin-right: 10px;
}

.socialIcons {
    position: relative;
    top: -10px;
    left: 1500px;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
}

.language {
    position: relative;
    top: -11px;
    right: 130px;
}

.optionBorder {
   border: none;
   color: #3f3f3f;
}

.headerLayoutNavigation {
    position: fixed;
    display: inline-flex;
    height: 100px;
    width: 100%; /* Verwende 100% der Breite */
    box-sizing: border-box;
    background-color: #f6f1f6;
    align-items: center; /* Zentriere die Elemente vertikal */
    justify-content: space-evenly; /* Verteile die Elemente horizontal */
    font-family: 'Times New Roman', Times, serif;
    z-index: 1000;
}

.navigation1 {
    margin-left: 300px;
}

.navigation2 {
    margin-left: -40px;
}

.navigation3 {
    margin-left: -20px;
}

.navigation6 {
    margin-right: 300px;
}

.logo {
    box-sizing: border-box;
    height: 64px;
    width: 78px;
    background-color: #000000;
    color: #ffffff;
    padding-left: 5px;
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.annoancmentSlider {
    box-sizing: border-box;
    display: block;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 15.3px;
    padding-top: 3px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.mainContent {
    margin-top: 40px;
    margin-bottom: 40px;
}

.sectionHeader {
    text-align: center;
}

.sectionHeaderTitle {
    margin-bottom: 30px;
}

.headerText {
    margin-left: 550px;
    width: 800px;
}

.section {
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    padding: 50px;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center; /* Zentriere die Elemente vertikal */
    justify-content: space-evenly; /* Verteile die Elemente horizontal */
    font-family: 'Times New Roman', Times, serif;
    background-color: #f6f1f6;
}

.textContent {
    box-sizing: border-box;
    position: relative;
    left: 150px;
    right: 5px;
    width: 500px;
    height: 300px;
}

.titleContent1 {
    font-size: 200%;
    font-weight: bolder;
    margin-bottom: 30px;
}

.titleContent2 {
    font-size: 150%;
    font-weight: bolder;
    margin-bottom: 10px;
}

.titleContent3 {
    font-size: 150%;
    margin-bottom: 20px;
}

.titleContent4 {
    font-size: 150%;
    font-weight: bolder;
    margin-bottom: 30px;
}

.titleContent5 {
    font-size: large;
    margin-bottom: 10px;
}

.imageContent {
    box-sizing: border-box;
    position: relative;
    margin-right: -10px;
}

img {
    position: relative;
    right: -500px;
    width: 50%; 
}

.siteFooter {
    box-sizing: border-box;
    display: block;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 15.3px;
    padding-top: 3px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}