* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 170px;
    padding-top: 20px;
    z-index: 1000;
}

.main {
    background-color: white;
    position: absolute;
    width: 100%;
    top: 170px;
    display: flex;
    flex-direction: column;
}

.toolBar {
    position: relative;
    height: 30px;
    width: 100%;
}

.icons {
    position: absolute;
    left: 1600px;
    top: -6px;
    width: 140px;
    height: 30px;
}

.language {
    position: absolute;
    left: 1750px;
    top: -4px;
    width: 72px;
    height: 30px;
}

.language .optionBorder {
    border: none;
    color: #3f3f3f;
}

.icons ul {
    list-style: none;
    display: flex;
}

.icons ul li {
    margin-right: 10px;
}

.socialIcons {
    width: 25px;
    height: 25px;
}

.headerLayoutNavigation {
    height: 100px;
    width: 100%;
    /* Verwende 100% der Breite */
    background-color: #f6f1f6;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    /* Zentriere die Elemente vertikal */
    justify-content: space-evenly;
    /* Verteile die Elemente horizontal */
    flex-wrap: wrap;
    z-index: 1000;
}

.navigation1 {

    margin-left: 300px;
}

.navigation2 {

    margin-left: -40px;
}

.navigation3 {

    margin-left: -20px;
}

.navigation6 {

    margin-right: 300px;
}

.logo {
    height: 64px;
    width: 78px;
    background-color: #000000;
    color: #ffffff;
    padding-left: 5px;
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.annoancmentSlider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 15.3px;
    padding-top: 3px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.mainContent {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.sectionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionHeaderTitle {
    margin-bottom: 30px;
}

.headerText {
    width: 800px;
    text-align: center;
}

.section {
    padding: 50px;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
    width: 1480px;
    height: 599.250px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f6f1f6;
    display: flex;
    flex-direction: raw;
    justify-content: space-around;
    align-items: center;
}

.textContent {
    width: 400px;
}

.titleContent1 {
    font-size: 200%;
    font-weight: bolder;
    margin-bottom: 30px;
}

.titleContent2 {
    font-size: 150%;
    font-weight: bolder;
    margin-bottom: 10px;
}

.titleContent3 {
    font-size: 150%;
    margin-bottom: 20px;
}

.titleContent4 {
    font-size: 150%;
    font-weight: bolder;
    margin-bottom: 30px;
}

.titleContent5 {
    font-size: large;
    margin-bottom: 10px;
}

.imageContent {
    width: 50%;
    position: relative;
}

.image {
    width: 85%;
    position: absolute;
    top: -270px;
    left: 120px;
}

.siteFooter {
    position: absolute;
    top: 1200px;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000e3;
}

.footer-content {
    color: #ffffff;
    font-size: 15.3px;
    padding-top: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}